In [1]:
# print 0 to 20 by using range

In [2]:
for num in range(0,21):
    print(num)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [3]:
# print range 10 to 20

In [4]:
num=[*range(10,21)]
print(num)

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [5]:
# print number of items in the list by using 'len'

In [6]:
list=(10,20,14,55,43,87,76)
num = int(len(list))
print("Number of items in the list:",num)

Number of items in the list: 7

In [7]:
sentence="Artificial Intelligence"
for letter in sentence:
    print(letter)

A
r
t
i
f
i
c
i
a
l

I
n
t
e
l
l
i
g
e
n
c
e

In [8]:
print("-Your Name-")
print("-Your Age-")
print("-Your Profession-")

-Your Name-
-Your Age-
-Your Profession-

In [9]:
#print this mixed datatype using tupples

In [10]:
tuple=(1,'welcome',2,'Hope')
print(tuple)

(1, 'welcome', 2, 'Hope')

In [11]:
tuple1=(0,1,2,3)
tuple2=('python','Hope')
print((tuple1),(tuple2))

(0, 1, 2, 3) ('python', 'Hope')

In [33]:
# print odd numbers in the list

num=(20,10,16,19,25,1,276,188)
for num in list :
    if (num%2 !=0):
        print(num)

19
25
1

In [35]:
# print even numbers in the list


list=(20,10,16,19,25,1,276,188)
for num in list :
    if (num%2 ==0):
        print(num)

20
10
16
276
188